name: Build documentation

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  id-token: write
  pages: write

env:
  PROW_INSTANCE: Writerside/prow
  PROW_ARTIFACT: webHelpPROW2-all.zip
  DOCKER_VERSION: 233.14938

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build docs using Writerside Docker builder
        uses: JetBrains/writerside-github-action@v4
        with:
          instance: ${{ env.PROW_INSTANCE }}
          artifact: ${{ env.PROW_ARTIFACT }}
          docker-version: ${{ env.DOCKER_VERSION }}

      - name: list files
        run: ls

      - name: Save artifact with build results
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: |
            artifacts/${{ env.PROW_ARTIFACT }}
            artifacts/report.json
            ./index.html
          retention-days: 7
  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: docs
          path: artifacts

      - name: Test documentation
        uses: JetBrains/writerside-checker-action@v1
        with:
          instance: ${{ env.PROW_INSTANCE }}
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: [build, test]
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: docs

      - name: Create Pages folder
        run: | 
          mkdir dir
          cp index.html dir/index.html
          mkdir prowallet

      - name: Unzip artifact
        run: unzip -O UTF-8 -qq ${{ env.PROW_ARTIFACT }} -d dir/prowallet

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Package and upload Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: dir

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
